* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c616ac;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  width: 300px;
  background-color: blue;
}

.pw-header {
  padding: 1rem;
}

.pass {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: red;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
}

.pass button {
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.pw-body {
  padding: 1rem;
}
