* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c616ac;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  min-width: 400px;
  background-color: blue;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.pw-header {
  padding: 1rem;
}

.pass {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}

.pass button {
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.pw-body {
  padding: 0 1rem 1rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.btn-generator {
  background-color: #f9a602;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}
